.sidebar{
    width: 100%;
    border-radius: 5px;
    background-color: #ee0505;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
    height: 60vh;
    overflow-y: scroll ;
}

.head{
    background-color: rgb(9, 252, 231);
display: flex;
justify-content: center;
border-radius: 3px;
height: 40px;
padding: 10px;
margin-bottom: 20px;
margin-left:40px ;
color: white;
display: flex;
align-items: center;
}
.foot{
    display: flex;
    justify-content: space-around;
}
.button{
    background-color: green; 
    color: rgb(128, 0, 0);
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color rgb(128, 0, 0);
  }
  .clear-button {
    background-color: rgb(5, 248, 5);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
  }
.shopping-cart{

    width: 70%;
    padding-left:30px;
    margin-left: 10%;
    height: 100vh;

}

#cartContainer{
    width: 60%;
    border: 3px solid rgba(0, 0, 0, 0.244);
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
    border-radius: 4px;
}

#cart1,#cart2{
    display: flex;
    justify-content: space-between;

}


#cartimage{
    display: flex;
    justify-content: flex-end;
}

#cartimage img{
    width: 100px;

}

#cart img{
    display: flex;
    flex-direction: column;
}

#list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#cartItem{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}
#cartname{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
#btnCart:hover{
    background-color: rgba(0, 128, 0, 0.352);
    cursor: pointer;
}
#btnCart{
    border-radius: 4px;
    padding: 5px;
}

